#container{
    margin-top: 20px !important;
}

#anadir{
    color: var(--mainColor);
}

#atras{
    color:var(--mainColor);
}

#atras:hover{
    text-decoration: underline !important;
}

#objeto-lista{
    margin: 2% 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    box-shadow: 0px 10px 10px black;
}

#objeto-lista section{
    display: flex;
    flex-direction: column ;
}

#modificar, #cancelar{
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    color: var(--secondary);
    box-shadow: 0 0 10px black;
    padding: 5px 10px;
}

#botones, #enviado{
    margin-top: 20px;
}

#modificar{
    background-color: var(--mainColor);
}

#cancelar{
    background-color: rgb(136, 30, 30);
}

#enviado{
    color: var(--mainColor);
}

#modificar:hover, #cancelar:hover{
    color: white;
}

#modificar span, #cancelar span{
    margin: auto;
}

ul{
    list-style: square;
}

ul strong{
    color: var(--mainColor)
}
