{% extends "generic.html" %} 
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">
<h1 id="titulo">Sobre Nosotr@s</h1>
<hr>
<section>
    <h1>Junta a dos personas con un pasado completamente distinto, pero que se juntan por el amor a la velocidad.</h1>
</section>
<section class="cartas">
    <div class="carta"><span>Somos un grupo de 12 personas que trabajan duro para darles a los Sim Racers los materiales que se merecen</span></div>
    <div class="carta impar"><span>Desde pequeños soñábamos con tener nuestros volantes personalizados. ¡Como si de un coche de carreras de verdad se tratase!</span></div>
    <div class="carta impar"><span>Nuestro objetivo es brindaros los volantes más personalizados y lo más ajustado al vuestro presupuesto que tengáis.</span></div>
    <div class="carta"><span>Nuestro lema es: una herramienta única te hace vivir experiencias únicas.</span></div>
    <div class="carta"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos consequatur consectetur sunt quas rerum esse tempora dolore, expedita odit sed cupiditate nam, aspernatur ipsa quam. Eveniet sequi autem sapiente.</span></div>
    <div class="carta impar"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos consequatur consectetur sunt quas rerum esse tempora dolore, expedita odit sed cupiditate nam, aspernatur ipsa quam. Eveniet sequi autem sapiente.</span></div>
    
</section>
<section class="trabajadores">
    <!-- EEEEEEEH -->
    <div><span>Rachel, 26 <br><i>Trabajadora</i></span><img src="{% static 'images/rachel.jpeg' %}" alt=""></div>
    <div><span>Alex, 27 <br><i>Trabajadora</i></span></span><img src="{% static 'images/austin.jpg' %}" alt=""></div>
    <div><span>Ben, 25 <br><i>Trabajadora</i></span></span><img src="{% static 'images/ben.jpg' %}" alt=""></div>
    <div><span>Joseph, 29 <br><i>Trabajadora</i></span></span><img src="{% static 'images/joseph.jpg' %}" alt=""></div>

    <div><span>Rubén, 25 <br><i>Trabajadora</i></span></span><img src="{% static 'images/robben.jpg' %}" alt=""></div>
    <div><span>Sergio, 26 <br><i>Trabajadora</i></span></span><img src="{% static 'images/ruben.jpg' %}" alt=""></div>
    <div><span>Martín, 31 <br><i>Trabajadora</i></span></span><img src="{% static 'images/steve.jpg' %}" alt=""></div>
    <div><span>Noelia, 23 <br><i>Trabajadora</i></span></span><img src="{% static 'images/noelia.jpg' %}" alt=""></div>

</section>
<section>
    <h1>¡Síguenos en nuestras redes para saber más!</h1>
    <div id="redes">
        <a href="https://twitter.com/?lang=es"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
        <a href="https://es-es.facebook.com/"><i class="bi bi-facebook"></i></a>
        <a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
    </div>
   
</section>
<footer id="final"></footer>

{% endblock %}