{% extends "generic.html" %} 
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">
<section>
    <h1>Junta a dos personas con un pasado completamente distinto, pero que se juntan por el amor a la velocidad.</h1>
</section>
<section class="cartas">
    <div class="carta"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos consequatur consectetur sunt quas rerum esse tempora dolore, expedita odit sed cupiditate nam, aspernatur ipsa quam. Eveniet sequi autem sapiente.</span></div>
    <div class="carta impar"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos consequatur consectetur sunt quas rerum esse tempora dolore, expedita odit sed cupiditate nam, aspernatur ipsa quam. Eveniet sequi autem sapiente.</span></div>
    <div class="carta impar"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos consequatur consectetur sunt quas rerum esse tempora dolore, expedita odit sed cupiditate nam, aspernatur ipsa quam. Eveniet sequi autem sapiente.</span></div>
    <div class="carta"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos consequatur consectetur sunt quas rerum esse tempora dolore, expedita odit sed cupiditate nam, aspernatur ipsa quam. Eveniet sequi autem sapiente.</span></div>
    <div class="carta"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos consequatur consectetur sunt quas rerum esse tempora dolore, expedita odit sed cupiditate nam, aspernatur ipsa quam. Eveniet sequi autem sapiente.</span></div>
    <div class="carta impar"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos consequatur consectetur sunt quas rerum esse tempora dolore, expedita odit sed cupiditate nam, aspernatur ipsa quam. Eveniet sequi autem sapiente.</span></div>
    <div class="carta impar"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos consequatur consectetur sunt quas rerum esse tempora dolore, expedita odit sed cupiditate nam, aspernatur ipsa quam. Eveniet sequi autem sapiente.</span></div>
    <div class="carta"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos consequatur consectetur sunt quas rerum esse tempora dolore, expedita odit sed cupiditate nam, aspernatur ipsa quam. Eveniet sequi autem sapiente.</span></div>
    
</section>
<footer id="final"></footer>
{% endblock %}