{% extends "generic.html" %} 
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<main>
  <h1>Donde empiezan las carreras</h1>
  {% if perms.app.is_admin %}
  <a id="admin-button" href="{% url 'administrator'%}">Vista Administrador</a>
  {% endif %}
</main>
<section id="seccion">
  <a href="{% url 'create_template' %}">
    <div id="primer-enlace">
      <h2>Crea tu volante</h2>
    </div>
  </a>
  <a href="{% url 'shop' %}">
    <div id="segundo-enlace">
      <h2>Échale un vistazo a nuestra tienda</h2>
    </div>
    
  </a>
</section>
<footer>
  <section>
    <a id="sobre" href="{% url 'about_us' %}"><i class="bi bi-people-fill"></i> Sobre Nosotros</a>
  </section>
  <section>
    <h2>Copyright&copy; 2022</h2>
    <small>All rights well deserved</small>
    <div>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-facebook"></i>
    </div>
  </section>
  
</footer>
{% endblock %}
