{% extends "generic.html" %}

{% block content %} 

{% load static %}

    <link rel="stylesheet" href="{% static 'css/register.css' %}" />

<!--Register--> 
<div class="container py-5">
	<div id="emblema">
		<img src="{% static 'images/_titulo_horizontal.png'%}">
		<h2>¡Rellena el formulario para poder crear!</h2>
		<i>En nuestro sitio web podrás personalizar tu propio volante, ¡de la categoría que quieras! o si bien prefieres, visitar nuestra tienda y ver nuestros productos y ofertas</i>
	</div>
	
	<form method="POST">
		{% csrf_token %}
		{{ register_form }}                    
		<button class="btn btn-primary" type="submit">Registrarse</button>
	</form>
	
</div>
<footer id="final"></footer>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="{% static 'js/register.js' %}"></script>

{% endblock %}