{% extends "generic.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}" />
<ul id="mostrador">
  {% for volante in lista %}
  <li class="tarjeta">
    <img src="{{ volante.imagen.url }}" />
    <section>
      <div>
        <strong>{{ volante.nombre }}</strong> <i>({{volante.año}})</i>
        {% if volante.stock < 10 and volante.stock > 0 %}
        <p><small class="pocos">Últimas unidades disponibles ({{ volante.stock }})</small></p>
        {% elif volante.stock == 0%}
        <p><small class="nada">No hay stock</small></p>
        {% endif %}
        <p>{{ volante.descripcion_breve }}</p>
      </div>

      <footer>
        <strong>{{ volante.precio }}€</strong>
      <a href="{% url 'detalle' volante.id %}" id="ver-detalles"
        >Ver detalles</a
      >
      </footer>
      
    </section>
  </li>

  {% endfor %}
</ul>
<footer id="final"></footer>
{% endblock %}
